<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的主页</title>
</head>
<body>
<div>
    <span><!--/*@thymesVar id="user" type="edu.neu.neumall.entity.User"*/-->
        <img th:src="${user.avatar}"/>
    </span>
    <!--/*@thymesVar id="user" type="edu.neu.neumall.entity.User"*/-->
    <span th:text="${user.nickName}"></span>
</div>
<div>
    <ul>
        <!--/*@thymesVar id="user" type="edu.neu.neumall.entity.User"*/-->
        <li th:each="addr:${user.shippingAddrAddrList}">
            <span th:text="${addr.getReceiverProvince()}"></span>
            <span th:text="${addr.getReceiverCity()}"></span>
            <span th:text="${addr.getReceiverDistrict()}"></span>
            <span th:text="${addr.getReceiverPhone()}"></span>
            <span th:text="${addr.getReceiverName()}"></span>
        </li>
    </ul>
</div>
</body>
</html>